// Place all the styles related to the Presentations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    border: 3px solid green;
}

a {
    text-decoration: none;
    width:100%;
}

.mycenter {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

.card-bg-white {
    background-color: white;
    margin: auto;
}

.fullsize {
    max-width:100%;
    max-height:100%;
}

.card-image {
    height: 100px;
    width: 100px;
}

.btn-text-black {
    color: black;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2em;
    height: 2em;
  }
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: white;
}

.svg-icon circle {
    stroke: white;
    stroke-width: 1;
}