<div class="container">
    <p class="mb-1">Personal portfolio by &copy; Alan Perez, customized powered using Ruby on Rails 5.2</p>
    <p class="mb-0">Visit github for open source shared code: <a href="https://github.com/AriAlanPR">Github repos</a> ,you can also read about current working company <a href="https://www.facebook.com/Lead1-415793555460472">Lead One LLC</a>.</p>
    <p class="float-end mb-1">
        <a class="btn btn-secondary" style="color:white;" href="#">Back to top ^</a>
    </p>
</div>