<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Mobile(Native, Hybrid) and Web Developer.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/ari-alan-p%C3%A9rez-romero-65415420b/" class="text-white">Follow on Linkedin</a></li>
                    <li><a href="https://github.com/AriAlanPR" class="text-white">Github page</a></li>
                    <li><a href="mailto: alan.perez@leadonemx.com" class="text-white">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center" style="width:50%;">
            <img class="rounded-circle" src="https://lh3.googleusercontent.com/proxy/WXSmDqTs70jq966qoSA81tRY7f61cNDrv_rAdJdxDpI_tdbSZYoE2zaBmpwb793rKOjeZkPGOYUMhksEw-HhGn5H_UXw9rumKuS4OLJyiTUJs0KtnevZ89qowRpiIB3nCA" height="25px" width="25px">
            <strong style="padding-left:10px;">Alan Perez Web</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>